---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


$spacing-unit:     30px;
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "cayman",
        "syntax-highlighting"
;
