---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


$spacing-unit:     30px;
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "cayman",
        "syntax-highlighting"
;

.main-content {
  table {
    border:0px;
    margin-left:25px;
    text-align:center;
    tr {
      border:0px;
    }
    td {
      border:0px;
    }
  }
}

img.profile {
  width:100px;
  border-radius:50%;
  min-width:100px;
}

img.small {
  width: 65%;
  /*margin-left: 17.5%;*/
}
img.tiny {
  width: 40%;
  /*margin-left: 17.5%;*/
}


/*lets have us some fancy images*/
.main-content img.fancy {
  box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.16), 0px 3px 6px 1px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.main-content img.fancy:hover {
  box-shadow: 0px 14px 28px 3px rgba(0,0,0,0.25), 0px 10px 10px 3px rgba(0,0,0,0.22);
}

/*lets have some fancy code highlights too*/
.main-content div.highlighter-rouge{
  border-radius: 0.3rem;
  box-shadow: inset 0px 3px 6px 1px rgba(0,0,0,0.15),inset 0px 1px 3px 1px rgba(0,0,0,0.1);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.main-content div.highlighter-rouge:hover {
  box-shadow: inset 0px 3px 10px 3px rgba(0,0,0,0.15), inset 0px 1px 6px 3px rgba(0,0,0,0.05);
}

/*need to override background to show box shadow*/
.main-content .highlighter-rouge pre.highlight {
  background: rgba(238,238,255, 0.33);
}

/*for inline code instead more mild effect*/
.main-content code.highlighter-rouge {
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.main-content code.highlighter-rouge:hover {
  background: rgba(250,175,186, 0.33);
}


/* for codepen embeds */
.cp_embed_iframe, .codepanel {
  box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.16), 0px 3px 6px 1px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.cp_embed_iframe:hover {
  box-shadow: 0px 14px 28px 3px rgba(0,0,0,0.25), 0px 10px 10px 3px rgba(0,0,0,0.22);
}



.highlight .err {
  color: grey !important;
  background: rgba(1,1,1,0);
}
