<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="/" class="btn">About</a>
  <a href="/schedule" class="btn">Schedule</a>
  <a href="/assignments" class="btn">Assignments</a>
  <a href="/lectures" class="btn">Lectures</a>
  <a href="/workshops" class="btn">Workshops</a>
  <a href="/assignments/project/" class="btn">Projects</a>
  <a href="/logistics" class="btn">Logistics</a>
  <a href="/resources" class="btn">Resources</a>
  <a href="/search" class="btn">Search</a>
</section>
