#log-container #log-title {
  display: block;
  height: 16px;
  font-size: 12px;
  text-shadow: none;
  background-color: lightgrey;
  width: 140px;
  position: fixed;
  width: 95%;
}

#log-container.expanded {
  height: 125px !important;
}

#log {
  margin-top: 16px;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#log-container { 
  background-color: darkgrey;
  overflow: auto;
  height: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0px 10px 0px 10px;
  position: fixed;
  bottom: 0px;
  width: 95%;
}

.log-warn { color: rgb(138, 64, 0)}
.log-error { color: rgb(138, 0, 0) }
.log-info { color: rgb(0, 119, 128) }
.log-log { color: rgb(0, 0, 0) }

.log-warn, .log-error { font-weight: bold; }

